@page "{id}"
@model Legacy.Maliev.Web.Pages.About.Career.View
@using Legacy.Maliev.Web.Components.Pages.Career

@{
    ViewData["Image"] = "https://www.maliev.com/src/images/career-3dprinting.jpg";

    if (System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "th")
    {
        ViewData["Title"] = $"{@Model.JobOffer.Title} | Career@MALIEV";
        ViewData["Description"] = string.IsNullOrEmpty(Model.JobOffer.Introduction)
            ? "เข้ามาร่วมงานกับเรา เพื่ออิสระในการทำงานและการสนับสนุนที่จะผลักดันอาชีพคุณไปอีกระดับ"
            : Model.JobOffer.Introduction;
    }
    else
    {
        ViewData["Title"] = $"{@Model.JobOffer.Title} | Career@MALIEV";
        ViewData["Description"] = string.IsNullOrEmpty(Model.JobOffer.Introduction)
            ? "Discover your perfect job match, and the freedom and support to take your career to the next level."
            : Model.JobOffer.Introduction;
    }
}

<component type="typeof(CareerDetailContent)" render-mode="Static" param-Model="Model.DisplayModel" />

@section Scripts {
    <script>
        function PrintJobDescription() {
            var contents = document.getElementById("job-description").innerHTML;
            var a = window.open('', '', 'height=500, width=500');
            a.document.write('<html>');
            a.document.write('<body>');
            a.document.write(contents);
            a.document.write("</body>");
            a.document.write("</html>");
            a.document.close();
            a.print();
        }
    </script>
}
