@inject IStringLocalizer<ThreeDimensionalPrintingEstimateContent> Localizer
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<main class="instant-quote"
      data-migration-component="instant-quotation-three-dimensional-printing"
      data-migration-renderer="blazor-static-ssr">
    <InstantQuotationWorkflow @rendermode="InteractiveServer"
                              InitialState="@InitialState"
                              CustomerModel="@CustomerModel" />
</main>

@code {
    [Parameter]
    public InstantQuotationDisplayModel Model { get; set; } = InstantQuotationDisplayModel.Empty;

    [Parameter]
    public InstantQuotationWorkflowState InitialState { get; set; } = InstantQuotationWorkflowState.Empty;

    [Parameter]
    public InstantQuotationCustomerDisplayModel CustomerModel { get; set; } = InstantQuotationCustomerDisplayModel.Empty;
}
