@inject IStringLocalizer<LogoutContent> Localizer

<div data-migration-component="logout-content" data-migration-renderer="blazor-static-ssr">
    <p class="maliev-eyebrow">@Localizer["Account security"]</p>
    <h1>@Localizer["Sign out of your account?"]</h1>
    <p>@Localizer["You will need to sign in again to access your member workspace."]</p>
    <p><a href="/Account">@Localizer["Keep me signed in"]</a></p>
</div>
