<!--Start of Facebook Javascript SDK-->
@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var canTrack = consentFeature?.CanTrack == true;
}

@if (canTrack)
{
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v22.0&amp;appId=2103879633189130&amp;autoLogAppEvents=0"></script>
}
<!--End of Facebook Javascript SDK-->
