<div class="fw-semibold">@Localizer["Shipping Couriers"]</div>
<div class="mb-3">
    <div class="row">

        <div class="col-6 col-sm-auto mb-2">
            <div class="fw-semibold mb-1">@Localizer["Thailand"]</div>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-kerryexpress d-inline-block mb-1"></i>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-lineman d-inline-block mb-1"></i>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-thailandpost d-inline-block mb-1"></i>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-lalamove d-inline-block mb-1"></i>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-grabexpress d-inline-block mb-1"></i>
        </div>

        <div class="col-6 col-sm-auto mb-2">
            <div class="fw-semibold mb-1">@Localizer["International"]</div>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-dhl d-inline-block mb-1"></i>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-dhlexpress d-inline-block mb-1"></i>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-ups d-inline-block mb-1"></i>
            <i class="sprite-shippingcouriers sprite-shippingcouriers-logo-thailandpost d-inline-block mb-1"></i>
        </div>
    </div>
</div>